{% extends "base.html" %}

{% block title %}Flask Testing - Boggle game{% endblock %}

{% block content %}
    <h1>Boggle game</h1>

    <table>
        {% for board_y in board %}
        <tr>
            {% for board_x in board_y %}
            <td>{{ board_x }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    
    <p id="word_result"></p>

    <form action="/submit_guess" id="submit_guess_form" method="post">
        <input type="text" name="submit_guess" id="submit_guess">
        <button id="submit_guess_button">Submit!</button>
    </form>
{% endblock %}